In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

In [2]:
df1 = pd.read_csv('finalDataframe.csv') 
df1.head()

,Title,Duration,Date,Series Title,Movie/Series
0,Ava,5811,12/8/20,NaN,Movie
1,Triple 9,6920,12/8/20,NaN,Movie
2,Tyler Perry's Madea's Big Happy Family,6375,12/8/20,NaN,Movie
3,Season 4: The Hugest Period Ever,1613,12/7/20,Big Mouth,Series
4,Are You The One: Season 1: The Temptation of ...,2435,12/7/20,Are You The One,Series

# Movies vs Series Count

In [3]:
df1['Movie/Series'].value_counts()

Series    1404
Movie      621
Name: Movie/Series, dtype: int64

# Top 5 Series

In [4]:
df1['Series Title'].value_counts().head(10)

 Girlfriends                    99
 Shameless (U.S.)               95
 The Parkers                    79
 Quantico                       51
 Grey's Anatomy                 45
 Beauty & the Beast             40
 Avatar: The Last Airbender     39
 Queen of the South             37
 Kingdom                        37
 Sam & Cat                      31
Name: Series Title, dtype: int64

# Top 5 Days of viewing and Duration

In [5]:
df1['Date'].value_counts().head(5)

5/21/20    40
9/20/20    25
8/3/20     25
5/8/20     21
9/9/20     21
Name: Date, dtype: int64

In [6]:
max_duration = df1.groupby(['Date']).agg('sum')
max_duration.head()

         Duration
Date
1/10/20      3450
1/11/20     14462
1/12/20     14407
1/13/20     10522
1/14/20      7032

In [7]:
max_duration['Duration'].nlargest(7)

Date
5/21/20    63596
9/20/20    55412
8/31/20    47455
8/3/20     44926
5/8/20     41328
9/8/20     41059
8/4/20     37894
Name: Duration, dtype: int64

# Number of Unique Series Watched

In [8]:
df1['Series Title'].nunique()

160

# First Watched for the Year

In [9]:
df1.tail(10)

,Title,Duration,Date,Series Title,Movie/Series
2015,Season 3: Sea Spray,2521,1/7/20,Colony,Series
2016,Season 3: The Big Empty,2488,1/7/20,Colony,Series
2017,Season 1: The Birthweek Song,1415,1/6/20,Victorious,Series
2018,Season 1: Jade Dumps Beck,1415,1/6/20,Victorious,Series
2019,Season 1: Tori the Zombie,1431,1/5/20,Victorious,Series
2020,Season 1: Beck's Big Break,1415,1/5/20,NaN,Movie
2021,Doing Hard Time,6060,1/3/20,NaN,Movie
2022,Season 1: Stage Fighting,1414,1/3/20,Victorious,Series
2023,Season 1: The Bird Scene,1425,1/3/20,Victorious,Series
2024,Season 1: Pilot,1420,1/3/20,Victorious,Series

# First Watched for Quarantine

In [10]:
df1.loc[df1['Date'] == '3/15/20']

,Title,Duration,Date,Series Title,Movie/Series
1811,Season 1: TB or Not TB,1172,3/15/20,Royal Pains,Series
1812,Season 1: Strategic Planning,1172,3/15/20,Royal Pains,Series
1813,Season 3: Chapter Twenty-Three,1968,3/15/20,On My Block,Series
1814,Season 1: There Will Be Food,1172,3/15/20,Royal Pains,Series
1815,Season 3: Chapter Twenty-Two,1968,3/15/20,On My Block,Series
1816,Season 3: Chapter Twenty-One,1968,3/15/20,On My Block,Series
1817,Season 1: Five-O,1172,3/15/20,Better Call Saul,Series
1818,Season 1: Alpine Shepherd Boy,1172,3/15/20,Better Call Saul,Series
1819,Season 1: Hero,1172,3/15/20,Better Call Saul,Series

# Duration Watched for the Year (seconds)

In [11]:
max_duration['Duration'].sum()

3597314